html,
body {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  border: 0;
}
.tooltip {
  width: 60px;
  height: 60px;
  background-color: blue;
}
.battle-container {
  display: flex;
  flex-flow: column;
  position: relative;
}
.turn-order-container {
  display: flex;
  flex-flow: row;
}
.turn-order-unit {
  display: flex;
  flex: 1;
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  margin: 0 2px;
}
.turn-order-unit-friendly {
  background-color: lime;
}
.turn-order-unit-enemy {
  background-color: red;
}
.turn-order-arrow {
  position: relative;
}
.turn-order-arrow::before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -20px;
  left: -10px;
  background-image: url("../img/icons/turnOrderArrow.png");
  z-index: 101;
}
.ability-tooltip {
  position: absolute;
  display: flex;
  flex: none;
  flex-basis: 0px;
  flex-flow: column;
  width: 128px;
  height: 64px;
}
.ability-tooltip-ability {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-height: 50%;
  background-color: #DDD;
}
.ability-tooltip-ability:hover {
  background-color: #AAF;
}
.fleets-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
}
.battle-fleet {
  display: flex;
  flex-flow: row;
  flex: 1 520px;
  max-width: 520px;
}
.battle-fleet-column {
  display: flex;
  flex-flow: column;
  flex: 1 260px;
  max-width: 260px;
}
.unit-wrapper {
  display: flex;
  position: relative;
  height: 64px;
  margin: 5px;
}
.unit {
  display: flex;
  position: absolute;
  flex-flow: row;
  height: 100%;
  width: 100%;
}
.unit-container {
  position: relative;
  display: flex;
  flex-flow: row;
  flex: 1;
  padding: 1px;
}
/*
.hovered-unit::before
{
  content: "";
  pointer-events: none;
  position: absolute;
  border: 3px solid red;
  height: 100%;
  width: 100%;
}*/
.empty-unit {
  animation-name: none !important;
}
.empty-unit .unit-container {
  background-color: transparent !important;
}
.empty-unit .unit-icon {
  background-color: transparent !important;
}
.friendly-unit .unit-container {
  background-color: rgba(100, 120, 250, 0.5);
}
.friendly-unit .unit-icon {
  background-color: rgba(100, 120, 250, 0.5);
}
.friendly-unit .unit-container {
  border: 1px solid black;
  border-right: 0;
}
.enemy-unit .unit-container {
  background-color: rgba(250, 100, 120, 0.5);
}
.enemy-unit .unit-icon {
  background-color: rgba(250, 100, 120, 0.5);
}
.enemy-unit .unit-container {
  border: 1px solid black;
  border-left: 0;
}
.active-unit .unit-container {
  background-color: rgba(200, 200, 20, 0.5);
}
.active-unit .unit-icon {
  background-color: rgba(200, 200, 20, 0.5);
}
.active-unit * {
  border-color: yellow !important;
}
.target-unit .unit-container {
  background-color: rgba(20, 200, 20, 0.5);
}
.target-unit .unit-icon {
  background-color: rgba(20, 200, 20, 0.5);
}
.active-border * {
  border-color: yellow !important;
}
@keyframes friendly-unit-enter {
  from {
    right: 200%;
  }
  to {
    right: 0%;
  }
}
@keyframes enemy-unit-enter {
  from {
    margin-left: 200%;
  }
  to {
    margin-right: 0%;
  }
}
.unit-image {
  min-width: 64px;
  background-color: red;
}
@media (max-width: 800px) {
  .unit-image {
    display: none;
  }
}
.unit-info {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: space-between;
  padding-left: 2px;
}
.unit-info-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.unit-strength-container {
  min-height: 20px;
  display: flex;
  flex-flow: column;
}
.unit-strength-amount {
  font-size: 1em;
}
.unit-strength-amount-capital {
  font-size: 0.66em;
}
.unit-strength-bar {
  flex: 1;
  width: 100%;
  height: 10px;
}
.wounded {
  color: yellow;
}
.critical {
  color: red;
}
.unit-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 20px;
}
.unit-icon {
  width: 100%;
  flex: 0 20px;
}
.unit-icon-filler {
  width: 100%;
  flex: 1;
}
.unit-border-no-left {
  border: 1px solid black;
  border-left: 0;
}
.unit-border-no-right {
  border: 1px solid black;
  border-right: 0;
}
.unit-border-left {
  border-left: 1px solid black;
}
.unit-border-right {
  border-right: 1px solid black;
}
.turns-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0 20px;
  margin-top: 5px;
}
.turn-counter {
  width: 30px;
  height: 5px;
  border: 1px solid black;
}
.used-turn {
  background-color: transparent;
}
.available-turn {
  background-color: green;
}
.sort-icon {
  font-weight: 100;
  position: absolute;
  right: 5px;
}
@media (max-width: 1200px) {
  .sort-icon {
    display: none;
  }
}
.sortable {
  cursor: pointer;
  position: relative;
  padding-right: 20px;
}
@media (max-width: 1200px) {
  .sortable {
    padding-right: 5px;
  }
}
.unsorted::after {
  content: "\f0dc";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-weight: 100;
  position: absolute;
  right: 5px;
}
@media (max-width: 1200px) {
  .unsorted::after {
    display: none;
  }
}
.sorted-asc::after {
  content: "\f0de";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-weight: 100;
  position: absolute;
  right: 5px;
}
@media (max-width: 1200px) {
  .sorted-asc::after {
    display: none;
  }
}
.sorted-desc::after {
  content: "\f0dd";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-weight: 100;
  position: absolute;
  right: 5px;
}
@media (max-width: 1200px) {
  .sorted-desc::after {
    display: none;
  }
}
.unit-list th {
  padding-left: 5px;
}
.unit-list td {
  text-align: center;
  padding: 0 5px;
}
.unit-list .unit-list-typeName {
  text-align: left;
}
.unit-list .unit-list-strength {
  text-align: right;
}
.draggable {
  cursor: move;
}
.dragging {
  position: fixed;
  pointer-events: none;
  z-index: 999;
}
.prevent-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.battle-prep {
  display: flex;
  flex-flow: row;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.reserved {
  background-color: grey;
}
