html,
body {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  border: 0;
}

table
{
  border-collapse: separate;
}

//@bg-color: #091E1D;
@bg-color: #101C1B;
@bg-color2: #0F283D;
@ui-border-color1: #C4E5FB;
@ui-border-color2: #77ABCE;
@text-color: #FEFEFE;
@unit-border-color: #999;
@money-color: #FFEB00;
@money-icon-color: #F3C620;
@negative-color: #FF3C3C;

.fa(@content)
{
  content: @content;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.horizontal-border(@top-width, @bottom-width)
{
  border: 0px solid transparent;
  border-bottom-width: @bottom-width;
  border-top-width: @top-width;
  border-image-source: url("../img/uiBorderHorizontal.png");
  border-image-slice: 10%;
}

.full-border(@width)
{
  border: @width solid transparent;
  border-image-source: url("../img/uiBorder.png");
  border-image-slice: 10%;
}

.hover-border(@border-width, @outset)
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 150;
  box-sizing: border-box;
  border: @border-width solid transparent;
  border-image-source: url("../img/borderTest2.png");
  border-image-slice: 38%;
  border-image-outset: @outset;
}

.text-stroke(@color, @radius)
{
  text-shadow:
    -@radius -@radius 0 @color,  
    @radius -@radius 0 @color,
    -@radius @radius 0 @color,
    @radius @radius 0 @color;
}

.double-gradient(@dir, @c1, @c2)
{
  background: linear-gradient(@dir,
    @c1 0%,
    @c2 50%,
    @c1 100%)
}
/*
.button-style-no-border
{
  background: linear-gradient(to bottom, @bg-color2, @bg-color);
  color: @text-color;
  cursor: pointer;

  &:hover
  {
    background: linear-gradient(
      to bottom,
      lighten(@bg-color2, 15%),
      lighten(@bg-color, 15%)
    );
  }
  &:active
  {
    background: linear-gradient(
      to bottom,
      lighten(@bg-color, 7%),
      lighten(@bg-color2, 7%)
    );
  }
  &:disabled
  {
    cursor: default;
    color: darken(@text-color, 20%);
    background: linear-gradient(
      to bottom,
      darken(@bg-color, 7%),
      darken(@bg-color2, 7%)
    );
  }
}
*/
.button-style-no-border
{
  .double-gradient(
    to bottom,
    lighten(@bg-color2, 4%),
    lighten(@bg-color, 0%)
  );
  color: @text-color;
  cursor: pointer;

  &:hover
  {
    .double-gradient(
      to bottom,
      lighten(@bg-color2, 12%),
      lighten(@bg-color, 8%)
    );
  }
  &:active
  {
    .double-gradient(
      to bottom,
      lighten(@bg-color2, 8%),
      lighten(@bg-color, 4%)
    );
  }
  &:disabled, &.disabled
  {
    cursor: default;
    color: darken(@text-color, 20%);
    .double-gradient(
      to bottom,
      darken(@bg-color2, 8%),
      darken(@bg-color, 16%)
    );
  }
}

.button-style
{
  .button-style-no-border;
  border: 1px solid @ui-border-color1;
  border-radius: 5px;
}


progress 
{
  color: #080;
  background: #888;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none;
}

progress::-ms-fill { background: #080; }
progress::-moz-progress-bar { background: #080; }
progress::-webkit-progress-bar { background: #888; }
progress::-webkit-progress-value { background: #080; }

#react-container
{
  height: 100%;
}

.reactui-selector
{
  max-width: 200px;
  flex: 0 0 auto;
}

.react-stage
{
  height: 100%;
  display: flex;
  flex-flow: column;
}

.battle-container
{
  display: flex;
  flex-flow: column;
  position: relative;
  .prevent-user-select;
  cursor: default;
}

.battle-upper
{
  position: relative;
  display: flex;
  flex-flow: column;
  flex: 0 1 300px;
  min-height: 20px;
}

.battle-upper-background
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/bgTest.png");
}

.turn-order-container
{
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-flow: row;
  width: 100%;
  min-height: 20px;
}

.turn-order-unit
{
  display: flex;
  flex: 1;
  position: relative;
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  margin: 0 2px;
}


.turn-order-unit-friendly
{
  background-color: desaturate(@friendly-unit-color, 10%);
}

.turn-order-unit-enemy
{
  background-color: desaturate(@enemy-unit-color, 10%);
}

.turn-order-unit-hover.turn-order-unit-friendly
{
  background-color: lighten(saturate(@friendly-unit-color, 20%), 10%);
}

.turn-order-unit-hover.turn-order-unit-enemy
{
  background-color: lighten(saturate(@enemy-unit-color, 20%), 10%);
}



.turn-order-arrow
{
  position: relative;
}

.turn-order-arrow::before
{
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -20px;
  left: -10px;
  background-image: url("../img/icons/turnOrderArrow.png");
  z-index: 101;
}

.ability-tooltip
{
  position: absolute;
  z-index: 201;
  display: flex;
  flex: none;
  flex-basis: 0px;
  flex-flow: column;
  //border: 1px solid black;
  //background-color: #DDD;
  width: 128px;
  height: 64px;
}

.ability-tooltip-ability
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-height: 50%;
  //background-color: #0A6209;
}

@ability-color: fadeout(saturate(darken(
  @active-unit-color, 20%), 10%), 10%);

.ability-tooltip-faces-right .ability-tooltip-ability
{
  background: linear-gradient(to left, @ability-color,
    fadeout(@ability-color, 20%));
}
.ability-tooltip-faces-left .ability-tooltip-ability
{
  background: linear-gradient(to right, @ability-color,
    fadeout(@ability-color, 20%));
}

.ability-tooltip-ability:hover
{
  background-color: @active-unit-color;
}

.fleets-container
{
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  flex: 1 0 auto;
  //background-color: @bg-color;
  background-image: url("../img/bgTest.png");
  color: @text-color;

  .horizontal-border(5px, 0);
}

.end-battle-button
{
  width: 80px;
  align-self: center;
  min-height: 30px;
}

.battle-fleet
{
  display: flex;
  flex-flow: row;
  flex: 1;
  min-width: 220px;
  max-width: 520px;
}

.battle-fleet-column
{
  display: flex;
  flex-flow: column;
  flex: 1;
  min-width: 110px;
  max-width: 260px;
}

.unit-wrapper
{
  display: flex;
  position: relative;
  height: 78px;
  margin: 5px;
}

.unit
{
  display: flex;
  position: absolute;
  flex-flow: row;
  height: 100%;
  width: 100%;
}

.unit-container
{
  position: relative;
  display: flex;
  flex-flow: row;
  flex: 1;
  padding: 1px;
}


.hovered-unit
{
  .unit-container::before
  {
    .hover-border(30px, 4px);
  }
}

@empty-unit-bg: transparent;
@friendly-unit-color: rgb(100,120,250);
@enemy-unit-color: rgb(250,100,120);
@active-unit-color: rgb(200,200,20);
@target-unit-color: rgb(20,200,20);
@friendly-unit-bg: fadeout(@friendly-unit-color, 50%);
@enemy-unit-bg: fadeout(@enemy-unit-color, 50%);
@active-unit-bg: fadeout(@active-unit-color, 50%);
@target-unit-bg: fadeout(@target-unit-color, 50%);

.unit-style(@bg-color, @dir: to left, @accent-color: @bg-color)
{
  .unit-container
  {
    background: linear-gradient(@dir,
      @bg-color, fadeout(@bg-color, 20%));
  }
  .unit-icon
  {
    background-color: @bg-color;
  }
  .unit-info-name
  {
    background: linear-gradient(@dir,
      fadeout(black, 20%), fadeout(black, 80%));
    border-bottom: 1px solid fadein(lighten(saturate(@accent-color,
      40%), 10%), 40%);
  }
}

.empty-unit
{
  .unit-style(@empty-unit-bg) !important;
  animation-name: none !important;
}

.friendly-unit
{
  .unit-style(@friendly-unit-bg, to left);
  .unit-container
  {
    .unit-border-no-right;
  }
}

.enemy-unit
{
  .unit-style(@enemy-unit-bg, to right);
  .unit-container
  {
    .unit-border-no-left;
  }
}

.active-unit.friendly-unit
{
  .unit-style(@active-unit-bg, to left, @friendly-unit-bg);
  .active-border;
}
.active-unit.enemy-unit
{
  .unit-style(@active-unit-bg, to right, @enemy-unit-bg);
  .active-border;
}

.target-unit.friendly-unit
{
  .unit-style(@target-unit-bg, to left, @friendly-unit-bg);
}
.target-unit.enemy-unit
{
  .unit-style(@target-unit-bg, to right, @enemy-unit-bg);
}

.active-border
{
  *
  {
    border-color: yellow;
  }
}

@keyframes friendly-unit-enter
{
  from
  {
    right: 200%;
  }
  to
  {
    right: 0%;
  }
}

@keyframes enemy-unit-enter
{
  from
  {
    margin-left: 200%;
  }
  to
  {
    margin-right: 0%;
  }
}


.unit-image
{
  min-width: 64px;
  //background-color: red;

  @media(max-width: 800px)
  {
    display: none;
  }
}

.unit-info
{
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: space-between;
  padding-left: 2px;
}

.unit-info-name
{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.unit-status
{
  height: 20px;
  position: relative;
}

.guard-wrapper
{
  position: relative;
  height: 100%;
  width: 100%;

  >*
  {
    position: absolute;
    max-width: 100%;
    height: 100%;
    border-color: white !important;
  }
  
  @c1: #0082E6;
  @c2: #032C9C;
  @value-gradient: linear-gradient(to left, @c1, @c2);

  progress
  {
    color: @value-gradient;
    border-radius: 5px;
    border: 1px solid white;
  }
  progress::-moz-progress-bar
  {
    background: @value-gradient;
    border-radius: 5px;
  }
  progress::-webkit-progress-bar
  {

  }
  progress::-ms-fill
  {
    background: @value-gradient;
    border-radius: 5px;
    height: 100%;
  }
  progress::-webkit-progress-value
  {
    background: @value-gradient;
    border-radius: 5px;
    //border-top-left-radius: 5px;
    //border-bottom-left-radius: 5px;
  }
}

.guard-text-container
{
  color: @text-color;
  display: flex;
  flex-flow: row;
  width: 96%;
  height: 16px;
  margin: 2px;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 0.85em;
  justify-content: space-between;
  >*
  {
    margin: 0 4px;
    margin-top: auto;
  }
}

.unit-strength-container
{
  //min-height: 20px;
  display: flex;
  flex-flow: column;
}

.unit-strength-amount
{
  font-size: 1em;
}

.unit-strength-amount-capital
{
  font-size: 0.66em;
}
.unit-strength-bar
{
  flex: 1 0 auto;
  width: 100%;
  height: 10px;
}

.wounded
{
  color: orange;
}

.critical
{
  color: red;
}

.unit-icon-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 20px;
}

.unit-icon
{
  width: 100%;
  flex: 0 20px;
}

.unit-icon-filler
{
  width: 100%;
  flex: 1;
}


.unit-border-no-left
{
  border: 1px solid @unit-border-color;
  border-left: 0;
}

.unit-border-no-right
{
  border: 1px solid @unit-border-color;
  border-right: 0;
}

.unit-border-left
{
  border-left: 1px solid @unit-border-color;
}

.unit-border-right
{
  border-right: 1px solid @unit-border-color;
}

.turns-container
{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0 20px;
  margin-top: 5px;
}

.turn-counter
{
  flex: 0 0 6px;
  margin: 3px 0;
  width: 30px;
}

.used-turn
{
  border: 1px solid #999;
  background-color: fadeout(white, 80%);
}

.available-turn
{
  border: 1px solid desaturate(darken(#9EFFF5, 40%), 10%);
  .double-gradient(to right, #9EFFF5, #DFFFEF);
}


// ITEM LIST

.sort-icons(@maxWidth)
{
  .sort-icon
  {
    font-weight: 100;
    position: absolute;
    right: 5px;
  }

  .sortable
  {
    cursor: pointer;
    position: relative;
    padding-right: 20px;

    @media(max-width: @maxWidth)
    {
      padding-right: 2px;
    }
  }

  @media(min-width: @maxWidth)
  {
    .unsorted::after
    {
      .fa("\f0dc");
      .sort-icon;
    }
    .sorted-asc::after
    {
      .fa("\f0de");
      .sort-icon;
    }
    .sorted-desc::after
    {
      .fa("\f0dd");
      .sort-icon;
    }
  }
}

.react-list
{
  th
  {
    padding-left: 2px;
  }
  td
  {
    padding: 0 5px;
  }
}

.unit-list
{
  flex-shrink: 1;

  td
  {
    text-align: center;
  }
  
  .unit-list-typeName
  {
    text-align: left;
  }
  .unit-list-strength
  {
    text-align: right;
  }
  .sort-icons(900px);
}


.selected
{
  //background-color: red;
}

.draggable
{
  cursor: move;
  .prevent-user-select;
}

.dragging
{
  position: fixed;
  pointer-events: none;
  cursor: move;
  z-index: 999;
}

.prevent-user-select
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// BATTLE PREP

.battle-prep
{
  display: flex;
  flex-flow: row;

  .prevent-user-select;

  .battle-fleet
  {
    flex: 1 2 auto;
  }
}

.reserved
{
  background-color: grey;
}

#pixi-container
{
  flex: 1;
  position: relative;
  >*
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.popup-container
{
  z-index: 999;
  pointer-events: none;
  >*
  {
    pointer-events: auto;
  }
}

.react-popup
{
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}

.galaxy-map
{
  display: flex;
  flex: 1;
  flex-flow: column;
}

.galaxy-map-ui
{
  z-index: 100;
  .prevent-user-select;
  pointer-events: none;
  >*
  {
    pointer-events: auto;
  }
}

.galaxy-map-ui-top
{
  pointer-events: none;
  >*
  {
    pointer-events: auto;
  }
}

.prevent-pointer-events
{
  pointer-events: none !important;
  *
  {
    pointer-events: none !important;
  }
}

.top-bar
{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row;
  color: @text-color;
  background-color: darken(@bg-color, 0%);
  .horizontal-border(0, 5px);

  >*
  {
    margin-top: 4px;
    margin-left: 10px;
    margin-bottom: 2px;
    margin-right: 10px;
  }
}

.top-bar-money
{
  display: flex;
  flex-flow: row;
  color: @money-color;
}

.top-bar-money-income
{
  margin-left: 0.666em;
}

.negative
{
  color: @negative-color !important;
}

.fleet-selection-container
{
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-flow: row;
  pointer-events: none;
  >*
  {
    pointer-events: auto;
  }

  color: @text-color;
}

.fleet-selection
{
  display: inline-flex;
  flex-flow: column;
  pointer-events: none;
  >*
  {
    pointer-events: auto;
  }
}

.fleet-selection-controls
{
  flex: 0 auto;

  background-color: @bg-color;
  display: inline-table;
  padding: 5px;
  .full-border(2px);

  button
  {
    margin: 1px 2px;
    .button-style;
  }
}

.fleet-selection-selected-wrapper
{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
}
.fleet-selection-selected
{
  display: inline-flex;
  flex-flow: column;
  width: 100%;
  margin-right: 25px;
}

.fleet-controls
{
  button
  {
    margin: 1px 2px;
    .button-style;
  }
}

.fleet-info
{
  display: inline-flex;
  flex-flow: column;
  flex-shrink: 0;
  background-color: @bg-color;
  .full-border(3px);

  >*
  {
    align-items: center;
  }
}

.fleet-info-header
{
  display: flex;
  flex-flow: row;
  background: linear-gradient(to bottom, @bg-color2, @bg-color);
}

.fleet-info-name
{
  margin-right: 5px;
  flex: 1 0 auto;
}

.fleet-info-shipcount
{
  margin-right: 5px;
}

.fleet-info-strength
{
  margin-right: 5px;
}

.fleet-contents
{
  display: flex;
  flex-flow: column;

  .ship-info + .ship-info
  {
    border-top: 0;
  }
}

.fleet-contents-dummy-ship
{
  height: 36px;
}

.ship-info
{
  display: inline-flex;
  flex-flow: row;
  flex-shrink: 0;
  background-color: @bg-color;
  border: 1px solid #666;

  .ship-info-name, .unit-strength-amount
  {
    background-color: @bg-color2;
  }
}

.ship-info-icon-container
{
  display: flex;
}
.ship-info-icon
{
  align-self: center;
}

.ship-info-info
{
  flex: 1;
}


.fleet-reorganization
{
  display: inline-flex;
  flex-flow: column;
  background-color: @bg-color2;

  .full-border(5px);

  button
  {
    .button-style;
  }
}

.fleet-reorganization-header
{
  text-align: center;
}

.fleet-reorganization-subheader
{
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;
}

.fleet-reorganization-subheader-fleet-name
{
  flex: 1;
  border: 1px solid @ui-border-color1;
  border-bottom: 0;
  padding: 0 10px;
}
.fleet-reorganization-subheader-fleet-name-left
{
  text-align: right;
}
.fleet-reorganization-subheader-center::after
{
  .fa("\f07e");
  margin: 0 10px;
}
.fleet-reorganization-subheader-fleet-name-right
{
  text-align: left;
}

.fleet-reorganization-contents
{
  display: inline-flex;
  flex-flow: row;
  padding: 8px 0;
  background-color: @bg-color;

  .horizontal-border(3px, 3px);

  .fleet-contents
  {
    display: inline-flex;
    flex: 1;
    min-width: 260px;
    overflow-y: scroll;
    max-height: 300px;
  }
}

.fleet-reorganization-contents-divider
{
  border-left: 1px solid rgba(255, 255, 255, 0.4);

  margin-right: 9px;
  margin-left: 10px;
}

.fleet-reorganization-footer
{
  display: flex;
  justify-content: center;
}

.galaxy-map-ui-bottom-left
{
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-flex;
  flex-flow: column;
}

.end-turn-button
{
  width: 250px;
  height: 40px;

  font-size: 1.5em;
  font-weight: bolder;

  .button-style;
}

.possible-actions-container
{
  display: flex;
  flex-flow: row;
  margin-bottom: 40px;


  >*
  {
    justify-content: flex-end;
    margin-top: auto;
  }
}

.possible-actions
{
  display: flex;
  flex-flow: column;
  flex: 0 0 auto;

  .full-border(5px);

  border-left: 0;
  background-color: @bg-color;
  padding: 6px 10px;
}

.possible-action
{
  display: flex;
  flex-flow: row;
  
  .button-style;

  margin: 6px 0;
  padding: 6px;
}

.possible-action-title
{
  align-self: center;
}

.expanded-action
{
  background-color: @bg-color2;
  padding: 0 8px;
  color: @text-color;
  >*
  {
    background-color: @bg-color;
  }
  .full-border(5px);

  border-width: 5px 0 0 5px;
}

.star-info
{
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-flex;
  flex-flow: column;
  background-color: @bg-color;
  color: @text-color;
  .full-border(5pxx)
}

.defence-building-list
{
  display: flex;
  flex-flow: row;
  background-color: @bg-color2;
}

.defence-building
{
  display: flex;
  flex-flow: column;
  margin: 0 2px;
}

.defence-building-icon
{
  background: linear-gradient(
    to bottom,
    lighten(@bg-color2, 15%),
    @bg-color2
  );
  border: 1px solid @ui-border-color2;
  border-bottom-width: 0px;
}

.defence-building-controller
{
  margin-top: 5px;
  border: 1px solid transparent;
  width: 36px;
  height: 36px;
}

.buildable-item-list
{
  .sort-icons(500px);
  position: relative;


  thead
  {
    /*
    :first-child
    {
      border-left: 3px;
    }
    :last-child
    {
      border-right: 3px;
    }
    */
    th
    {
      .horizontal-border(3px, 3px);
    }
  }

  tbody :first-child::after
  {
    background-image: none;
  }
}
.buildable-item
{

  .button-style-no-border;

  position: relative;
  td
  {
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 70px;
  }

  .buildCost
  {
    text-align: right;
    color: @money-color;
  }
  .buildCost::after
  {
    .fa("\f111");
    margin-left: 0.25em;
    color: @money-icon-color;
  }
}
.buildable-item::after
{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: url("../img/listSeparator.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 2px;
}
.buildable-item:hover
{
  background-color: grey;
}