html,
body {
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  border: 0;
}
table {
  border-collapse: separate;
}
/*
.button-style-no-border
{
  background: linear-gradient(to bottom, @bg-color2, @bg-color);
  color: @text-color;
  cursor: pointer;

  &:hover
  {
    background: linear-gradient(
      to bottom,
      lighten(@bg-color2, 15%),
      lighten(@bg-color, 15%)
    );
  }
  &:active
  {
    background: linear-gradient(
      to bottom,
      lighten(@bg-color, 7%),
      lighten(@bg-color2, 7%)
    );
  }
  &:disabled
  {
    cursor: default;
    color: darken(@text-color, 20%);
    background: linear-gradient(
      to bottom,
      darken(@bg-color, 7%),
      darken(@bg-color2, 7%)
    );
  }
}
*/
.button-style-no-border {
  background: linear-gradient(to bottom, #13334d 0%, #101c1b 50%, #13334d 100%);
  color: #eeeeee;
  cursor: pointer;
}
.button-style-no-border:hover {
  background: linear-gradient(to bottom, #1b486e 0%, #1f3634 50%, #1b486e 100%);
}
.button-style-no-border:active {
  background: linear-gradient(to bottom, #173d5e 0%, #172928 50%, #173d5e 100%);
}
.button-style-no-border:disabled,
.button-style-no-border.disabled {
  cursor: default;
  color: #bbbbbb;
  background: linear-gradient(to bottom, #07131c 0%, #000000 50%, #07131c 100%);
}
.button-style {
  background: linear-gradient(to bottom, #13334d 0%, #101c1b 50%, #13334d 100%);
  color: #eeeeee;
  cursor: pointer;
  border: 1px solid #c4e5fb;
  border-radius: 5px;
}
.button-style:hover {
  background: linear-gradient(to bottom, #1b486e 0%, #1f3634 50%, #1b486e 100%);
}
.button-style:active {
  background: linear-gradient(to bottom, #173d5e 0%, #172928 50%, #173d5e 100%);
}
.button-style:disabled,
.button-style.disabled {
  cursor: default;
  color: #bbbbbb;
  background: linear-gradient(to bottom, #07131c 0%, #000000 50%, #07131c 100%);
}
progress {
  color: #080;
  background: #888;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
progress::-ms-fill {
  background: #080;
}
progress::-moz-progress-bar {
  background: #080;
}
progress::-webkit-progress-bar {
  background: #888;
}
progress::-webkit-progress-value {
  background: #080;
}
#react-container {
  height: 100%;
}
.reactui-selector {
  max-width: 200px;
  flex: 0 0 auto;
}
.react-stage {
  height: 100%;
}
.battle-pixi-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.battle-pixi-container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.battle-pixi-container canvas {
  z-index: -1;
}
.battle-container {
  display: flex;
  flex-flow: column;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  max-height: 100%;
  height: 100%;
}
.battle-upper {
  position: relative;
  display: flex;
  flex-flow: column;
  flex: 1 1 45px;
  min-height: 45px;
  justify-content: space-between;
}
.battle-score-wrapper {
  display: flex;
  flex: 0 1 46px;
  min-height: 20px;
  flex-flow: row;
  justify-content: center;
  margin-bottom: 5px;
}
.battle-score-container {
  display: flex;
  flex: 0 1 400px;
  justify-content: center;
  border: 1px solid white;
  border-top-width: 0px;
}
.battle-score-flag-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 46px;
}
.battle-score-bar-container {
  display: flex;
  flex: 1 1 auto;
}
.battle-score-bar-value {
  display: flex;
  border-style: solid;
  border-width: 0;
  transition: flex 1s;
}
.battle-score-bar-side1 {
  border-right-width: 1px;
}
.battle-score-bar-side2 {
  border-left-width: 1px;
}
.turn-order-container {
  display: flex;
  flex-flow: row;
  width: 100%;
  min-height: 20px;
}
.turn-order-unit {
  display: flex;
  flex: 1;
  position: relative;
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  margin: 0 2px;
}
.turn-order-unit-friendly {
  background-color: #6c7ef2;
}
.turn-order-unit-enemy {
  background-color: #f26c7e;
}
.turn-order-unit-hover.turn-order-unit-friendly {
  background-color: #92a1ff;
}
.turn-order-unit-hover.turn-order-unit-enemy {
  background-color: #ff92a1;
}
.turn-order-arrow {
  position: relative;
}
.turn-order-arrow::before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -20px;
  left: -10px;
  background-image: url("../img/icons/turnOrderArrow.png");
  z-index: 101;
}
.ability-tooltip {
  position: absolute;
  z-index: 201;
  display: flex;
  flex: none;
  flex-basis: 0px;
  flex-flow: column;
  width: 128px;
  height: 64px;
}
.ability-tooltip-ability {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-height: 50%;
}
.ability-tooltip-faces-right .ability-tooltip-ability {
  background: linear-gradient(to left, rgba(113, 113, 5, 0.9), rgba(113, 113, 5, 0.7));
}
.ability-tooltip-faces-left .ability-tooltip-ability {
  background: linear-gradient(to right, rgba(113, 113, 5, 0.9), rgba(113, 113, 5, 0.7));
}
.ability-tooltip-ability:hover {
  background-color: #c8c814;
}
.fleets-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  flex: 0 0 auto;
  color: #eeeeee;
  border: 0px solid transparent;
  border-bottom-width: 0;
  border-top-width: 5px;
  border-image-source: url("../img/uiBorderHorizontal.png");
  border-image-slice: 10%;
}
.end-battle-button {
  width: 80px;
  align-self: center;
  min-height: 30px;
}
.battle-fleet {
  display: flex;
  flex-flow: row;
  flex: 1 1 520px;
  min-width: 220px;
  max-width: 520px;
}
.battle-fleet-column {
  display: flex;
  flex-flow: column;
  flex: 1;
  min-width: 110px;
  max-width: 260px;
}
.unit-wrapper {
  display: block;
  position: relative;
  flex: 1 1 5em;
  max-height: 5em;
  margin: 5px;
  padding: 2px;
}
.unit {
  display: flex;
  position: absolute;
  flex-flow: row;
  height: 100%;
  width: 100%;
}
.unit-container {
  position: relative;
  display: flex;
  flex-flow: row;
  flex: 1;
  padding: 1px;
}
.hovered-unit .unit-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 150;
  box-sizing: border-box;
  border: 30px solid transparent;
  border-image-source: url("../img/borderTest2.png");
  border-image-slice: 38%;
  border-image-outset: 4px;
}
.empty-unit {
  animation-name: none !important;
}
.empty-unit .unit-container {
  background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0)) !important;
}
.empty-unit .unit-icon {
  background-color: transparent !important;
}
.empty-unit .unit-info-name {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.19999999999999996)) !important;
  border-bottom: 1px solid rgba(26, 26, 26, 0.4) !important;
}
.friendly-unit .unit-container {
  background: linear-gradient(to left, rgba(100, 120, 250, 0.5), rgba(100, 120, 250, 0.3));
}
.friendly-unit .unit-icon {
  background-color: rgba(100, 120, 250, 0.5);
}
.friendly-unit .unit-info-name {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.19999999999999996));
  border-bottom: 1px solid rgba(146, 161, 255, 0.9);
}
.friendly-unit .unit-container {
  border: 1px solid #999999;
  border-right: 0;
}
.enemy-unit .unit-container {
  background: linear-gradient(to right, rgba(250, 100, 120, 0.5), rgba(250, 100, 120, 0.3));
}
.enemy-unit .unit-icon {
  background-color: rgba(250, 100, 120, 0.5);
}
.enemy-unit .unit-info-name {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.19999999999999996));
  border-bottom: 1px solid rgba(255, 146, 161, 0.9);
}
.enemy-unit .unit-container {
  border: 1px solid #999999;
  border-left: 0;
}
.active-unit.friendly-unit .unit-container {
  background: linear-gradient(to left, rgba(200, 200, 20, 0.5), rgba(200, 200, 20, 0.3));
}
.active-unit.friendly-unit .unit-icon {
  background-color: rgba(200, 200, 20, 0.5);
}
.active-unit.friendly-unit .unit-info-name {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.19999999999999996));
  border-bottom: 1px solid rgba(146, 161, 255, 0.9);
}
.active-unit.friendly-unit * {
  border-color: yellow;
}
.active-unit.enemy-unit .unit-container {
  background: linear-gradient(to right, rgba(200, 200, 20, 0.5), rgba(200, 200, 20, 0.3));
}
.active-unit.enemy-unit .unit-icon {
  background-color: rgba(200, 200, 20, 0.5);
}
.active-unit.enemy-unit .unit-info-name {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.19999999999999996));
  border-bottom: 1px solid rgba(255, 146, 161, 0.9);
}
.active-unit.enemy-unit * {
  border-color: yellow;
}
.target-unit.friendly-unit .unit-container {
  background: linear-gradient(to left, rgba(20, 200, 20, 0.5), rgba(20, 200, 20, 0.3));
}
.target-unit.friendly-unit .unit-icon {
  background-color: rgba(20, 200, 20, 0.5);
}
.target-unit.friendly-unit .unit-info-name {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.19999999999999996));
  border-bottom: 1px solid rgba(146, 161, 255, 0.9);
}
.target-unit.enemy-unit .unit-container {
  background: linear-gradient(to right, rgba(20, 200, 20, 0.5), rgba(20, 200, 20, 0.3));
}
.target-unit.enemy-unit .unit-icon {
  background-color: rgba(20, 200, 20, 0.5);
}
.target-unit.enemy-unit .unit-info-name {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.19999999999999996));
  border-bottom: 1px solid rgba(255, 146, 161, 0.9);
}
.active-border * {
  border-color: yellow;
}
@keyframes friendly-unit-enter {
  from {
    right: 200%;
  }
  to {
    right: 0%;
  }
}
@keyframes enemy-unit-enter {
  from {
    margin-left: 200%;
  }
  to {
    margin-right: 0%;
  }
}
.unit-image {
  min-width: 64px;
}
@media (max-width: 800px) {
  .unit-image {
    display: none;
  }
}
.unit-info {
  display: block;
  flex: 1;
  flex-flow: column;
  justify-content: space-between;
}
.unit-info-name {
  white-space: nowrap;
  overflow: hidden;
  min-height: 1.1em;
}
.unit-status {
  height: 20px;
  margin: 2px;
  position: relative;
  padding: 0 2px;
}
.status-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ffffff !important;
  border-radius: 5px;
  box-sizing: border-box;
}
.status-container > * {
  position: absolute;
  width: 100%;
  height: 100%;
  border-color: white !important;
}
.guard-meter-container {
  background-color: #032C9C;
}
.status-inner-wrapper {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 1px;
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
  border-radius: 5px;
  box-sizing: border-box;
}
.status-inner {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 0.8em;
  margin: 0 0.4em;
}
.guard-meter-value {
  background: linear-gradient(to left, #0082e6, #032c9c);
}
.guard-text-container {
  justify-content: space-between;
}
.unit-strength-container {
  padding: 0 2px;
}
.unit-strength-amount {
  font-size: 1em;
}
.unit-strength-amount-capital {
  font-size: 0.66em;
}
.unit-strength-bar {
  width: 100%;
  height: 10px;
  background-color: #84000c;
  background: linear-gradient(to bottom, #84000c 0%, #b70011 25%, #6b000a 50%, #84000c 100%);
  border: 1px solid #222 !important;
}
.unit-strength-bar-value {
  height: 100%;
  background-color: #168400;
  background: linear-gradient(to bottom, #168400 0%, #1fb700 25%, #126b00 50%, #168400 100%);
}
.wounded {
  color: orange;
}
.critical {
  color: red;
}
.unit-action-points {
  padding: 0 2px;
}
.unit-action-points > * {
  vertical-align: super;
}
.unit-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 20px;
}
.unit-icon {
  width: 100%;
  flex: 0 20px;
}
.unit-icon-filler {
  width: 100%;
  flex: 1;
}
.unit-border-no-left {
  border: 1px solid #999999;
  border-left: 0;
}
.unit-border-no-right {
  border: 1px solid #999999;
  border-right: 0;
}
.unit-border-left {
  border-left: 1px solid #999999;
}
.unit-border-right {
  border-right: 1px solid #999999;
}
.turns-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0 20px;
  margin-top: 5px;
}
.turn-counter {
  flex: 0 0 6px;
  margin: 3px 0;
  width: 30px;
}
.used-turn {
  border: 1px solid #999;
  background-color: rgba(255, 255, 255, 0.19999999999999996);
}
.available-turn {
  border: 1px solid #0ac7b3;
  background: linear-gradient(to right, #9efff5 0%, #dfffef 50%, #9efff5 100%);
}
.react-list th {
  padding-left: 2px;
}
.react-list td {
  padding: 0 5px;
}
.unit-list {
  flex-shrink: 1;
}
.unit-list td {
  text-align: center;
}
.unit-list .unit-list-typeName {
  text-align: left;
}
.unit-list .unit-list-strength {
  text-align: right;
}
.unit-list .sort-icon {
  font-weight: 100;
  position: absolute;
  right: 5px;
}
.unit-list .sortable {
  cursor: pointer;
  position: relative;
  padding-right: 20px;
}
@media (max-width: 900px) {
  .unit-list .sortable {
    padding-right: 2px;
  }
}
@media (min-width: 900px) {
  .unit-list .unsorted::after {
    content: "\f0dc";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-weight: 100;
    position: absolute;
    right: 5px;
  }
  .unit-list .sorted-asc::after {
    content: "\f0de";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-weight: 100;
    position: absolute;
    right: 5px;
  }
  .unit-list .sorted-desc::after {
    content: "\f0dd";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-weight: 100;
    position: absolute;
    right: 5px;
  }
}
.draggable {
  cursor: move;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dragging {
  position: fixed !important;
  pointer-events: none;
  cursor: move;
  z-index: 999;
}
.prevent-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.battle-prep {
  display: flex;
  flex-flow: row;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.battle-prep .battle-fleet {
  flex: 1 2 auto;
}
.reserved {
  background-color: grey;
}
.galaxy-map #pixi-container {
  flex: 1;
  position: relative;
}
.galaxy-map #pixi-container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup-container {
  z-index: 999;
  pointer-events: none;
}
.popup-container > * {
  pointer-events: auto;
}
.react-popup {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}
.galaxy-map {
  display: flex;
  flex: 1;
  flex-flow: column;
  height: 100%;
}
.galaxy-map-ui {
  z-index: 100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.galaxy-map-ui > * {
  pointer-events: auto;
}
.galaxy-map-ui-top {
  pointer-events: none;
}
.galaxy-map-ui-top > * {
  pointer-events: auto;
}
.prevent-pointer-events {
  pointer-events: none !important;
}
.prevent-pointer-events * {
  pointer-events: none !important;
}
.top-bar {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row;
  color: #eeeeee;
  background-color: #101c1b;
  border: 0px solid transparent;
  border-bottom-width: 5px;
  border-top-width: 0;
  border-image-source: url("../img/uiBorderHorizontal.png");
  border-image-slice: 10%;
}
.top-bar > * {
  margin-top: 4px;
  margin-left: 10px;
  margin-bottom: 2px;
  margin-right: 10px;
}
.top-bar-player {
  display: flex;
  flex-flow: row;
}
.top-bar-player-icon {
  height: 1em;
  width: 1em;
  margin-right: 1em;
}
.top-bar-money {
  display: flex;
  flex-flow: row;
  color: #ffeb00;
}
.top-bar-money-income {
  margin-left: 0.666em;
}
.negative {
  color: #ff3c3c !important;
}
.fleet-selection-container {
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-flow: row;
  pointer-events: none;
  color: #eeeeee;
}
.fleet-selection-container > * {
  pointer-events: auto;
}
.fleet-selection {
  display: inline-flex;
  flex-flow: column;
  pointer-events: none;
}
.fleet-selection > * {
  pointer-events: auto;
}
.fleet-selection-controls {
  flex: 0 auto;
  background-color: #101c1b;
  display: inline-table;
  padding: 5px;
  border: 2px solid transparent;
  border-image-source: url("../img/uiBorder.png");
  border-image-slice: 10%;
}
.fleet-selection-controls button {
  margin: 1px 2px;
  background: linear-gradient(to bottom, #13334d 0%, #101c1b 50%, #13334d 100%);
  color: #eeeeee;
  cursor: pointer;
  border: 1px solid #c4e5fb;
  border-radius: 5px;
}
.fleet-selection-controls button:hover {
  background: linear-gradient(to bottom, #1b486e 0%, #1f3634 50%, #1b486e 100%);
}
.fleet-selection-controls button:active {
  background: linear-gradient(to bottom, #173d5e 0%, #172928 50%, #173d5e 100%);
}
.fleet-selection-controls button:disabled,
.fleet-selection-controls button.disabled {
  cursor: default;
  color: #bbbbbb;
  background: linear-gradient(to bottom, #07131c 0%, #000000 50%, #07131c 100%);
}
.fleet-selection-selected-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
}
.fleet-selection-selected {
  display: inline-flex;
  flex-flow: column;
  width: 100%;
  margin-right: 25px;
}
.fleet-controls button {
  margin: 1px 2px;
  background: linear-gradient(to bottom, #13334d 0%, #101c1b 50%, #13334d 100%);
  color: #eeeeee;
  cursor: pointer;
  border: 1px solid #c4e5fb;
  border-radius: 5px;
}
.fleet-controls button:hover {
  background: linear-gradient(to bottom, #1b486e 0%, #1f3634 50%, #1b486e 100%);
}
.fleet-controls button:active {
  background: linear-gradient(to bottom, #173d5e 0%, #172928 50%, #173d5e 100%);
}
.fleet-controls button:disabled,
.fleet-controls button.disabled {
  cursor: default;
  color: #bbbbbb;
  background: linear-gradient(to bottom, #07131c 0%, #000000 50%, #07131c 100%);
}
.fleet-info {
  display: inline-flex;
  flex-flow: column;
  flex-shrink: 0;
  background-color: #101c1b;
  border: 3px solid transparent;
  border-image-source: url("../img/uiBorder.png");
  border-image-slice: 10%;
}
.fleet-info > * {
  align-items: center;
}
.fleet-info-header {
  display: flex;
  flex-flow: row;
  background: linear-gradient(to bottom, #0f283d, #101c1b);
}
.fleet-info-name {
  margin-right: 5px;
  flex: 1 0 auto;
}
.fleet-info-shipcount {
  margin-right: 5px;
}
.fleet-info-strength {
  margin-right: 5px;
}
.fleet-contents {
  display: flex;
  flex-flow: column;
}
.fleet-contents .ship-info + .ship-info {
  border-top: 0;
}
.fleet-contents-dummy-ship {
  height: 36px;
}
.ship-info {
  display: inline-flex;
  flex-flow: row;
  flex-shrink: 0;
  background-color: #101c1b;
  border: 1px solid #666;
}
.ship-info .ship-info-name,
.ship-info .unit-strength-amount {
  background-color: #0f283d;
}
.ship-info-icon-container {
  display: flex;
}
.ship-info-icon {
  align-self: center;
}
.ship-info-info {
  flex: 1;
}
.fleet-reorganization {
  display: inline-flex;
  flex-flow: column;
  background-color: #0f283d;
  border: 5px solid transparent;
  border-image-source: url("../img/uiBorder.png");
  border-image-slice: 10%;
}
.fleet-reorganization button {
  background: linear-gradient(to bottom, #13334d 0%, #101c1b 50%, #13334d 100%);
  color: #eeeeee;
  cursor: pointer;
  border: 1px solid #c4e5fb;
  border-radius: 5px;
}
.fleet-reorganization button:hover {
  background: linear-gradient(to bottom, #1b486e 0%, #1f3634 50%, #1b486e 100%);
}
.fleet-reorganization button:active {
  background: linear-gradient(to bottom, #173d5e 0%, #172928 50%, #173d5e 100%);
}
.fleet-reorganization button:disabled,
.fleet-reorganization button.disabled {
  cursor: default;
  color: #bbbbbb;
  background: linear-gradient(to bottom, #07131c 0%, #000000 50%, #07131c 100%);
}
.fleet-reorganization-header {
  text-align: center;
}
.fleet-reorganization-subheader {
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;
}
.fleet-reorganization-subheader-fleet-name {
  flex: 1;
  border: 1px solid #c4e5fb;
  border-bottom: 0;
  padding: 0 10px;
}
.fleet-reorganization-subheader-fleet-name-left {
  text-align: right;
}
.fleet-reorganization-subheader-center::after {
  content: "\f07e";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin: 0 10px;
}
.fleet-reorganization-subheader-fleet-name-right {
  text-align: left;
}
.fleet-reorganization-contents {
  display: inline-flex;
  flex-flow: row;
  padding: 8px 0;
  background-color: #101c1b;
  border: 0px solid transparent;
  border-bottom-width: 3px;
  border-top-width: 3px;
  border-image-source: url("../img/uiBorderHorizontal.png");
  border-image-slice: 10%;
}
.fleet-reorganization-contents .fleet-contents {
  display: inline-flex;
  flex: 1;
  min-width: 260px;
  overflow-y: scroll;
  max-height: 300px;
}
.fleet-reorganization-contents-divider {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  margin-right: 9px;
  margin-left: 10px;
}
.fleet-reorganization-footer {
  display: flex;
  justify-content: center;
}
.galaxy-map-ui-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  flex-flow: column;
  pointer-events: none;
}
.end-turn-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 40px;
  font-size: 1.5em;
  font-weight: bolder;
  pointer-events: auto;
  background: linear-gradient(to bottom, #13334d 0%, #101c1b 50%, #13334d 100%);
  color: #eeeeee;
  cursor: pointer;
  border: 1px solid #c4e5fb;
  border-radius: 5px;
}
.end-turn-button:hover {
  background: linear-gradient(to bottom, #1b486e 0%, #1f3634 50%, #1b486e 100%);
}
.end-turn-button:active {
  background: linear-gradient(to bottom, #173d5e 0%, #172928 50%, #173d5e 100%);
}
.end-turn-button:disabled,
.end-turn-button.disabled {
  cursor: default;
  color: #bbbbbb;
  background: linear-gradient(to bottom, #07131c 0%, #000000 50%, #07131c 100%);
}
.possible-actions-container {
  display: flex;
  flex-flow: row;
}
.possible-actions-container > * {
  justify-content: flex-end;
  margin-top: auto;
  pointer-events: auto;
}
.possible-actions {
  position: relative;
  bottom: -3px;
  display: flex;
  flex-flow: column;
  flex: 0 0 auto;
  border: 5px solid transparent;
  border-image-source: url("../img/uiBorder.png");
  border-image-slice: 10%;
  border-width: 5px 5px 5px 0;
  background-color: #101c1b;
  padding: 6px 10px;
}
.possible-action {
  display: flex;
  flex-flow: row;
  background: linear-gradient(to bottom, #13334d 0%, #101c1b 50%, #13334d 100%);
  color: #eeeeee;
  cursor: pointer;
  border: 1px solid #c4e5fb;
  border-radius: 5px;
  margin: 6px 0;
  padding: 6px;
}
.possible-action:hover {
  background: linear-gradient(to bottom, #1b486e 0%, #1f3634 50%, #1b486e 100%);
}
.possible-action:active {
  background: linear-gradient(to bottom, #173d5e 0%, #172928 50%, #173d5e 100%);
}
.possible-action:disabled,
.possible-action.disabled {
  cursor: default;
  color: #bbbbbb;
  background: linear-gradient(to bottom, #07131c 0%, #000000 50%, #07131c 100%);
}
.possible-action-title {
  align-self: center;
}
.expanded-action {
  position: relative;
  left: -3px;
  bottom: -3px;
  background-color: #0f283d;
  padding: 0 8px;
  color: #eeeeee;
  border: 5px solid transparent;
  border-image-source: url("../img/uiBorder.png");
  border-image-slice: 10%;
  border-width: 5px;
}
.expanded-action > * {
  background-color: #101c1b;
}
.star-info {
  display: inline-flex;
  flex-flow: column;
  background-color: #101c1b;
  color: #eeeeee;
  border: 5px solid transparent;
  border-image-source: url("../img/uiBorder.png");
  border-image-slice: 10%;
  border-width: 5px 5px 0 0;
}
.defence-building-list {
  display: flex;
  flex-flow: row;
  background-color: #0f283d;
}
.defence-building {
  display: flex;
  flex-flow: column;
  margin: 0 2px;
}
.defence-building-icon {
  background: linear-gradient(to bottom, #1e507a, #0f283d);
  border: 1px solid #77abce;
  border-bottom-width: 0px;
}
.defence-building-controller {
  margin-top: 5px;
  border: 1px solid transparent;
  width: 32px;
  height: 32px;
}
.buildable-item-list {
  position: relative;
}
.buildable-item-list .sort-icon {
  font-weight: 100;
  position: absolute;
  right: 5px;
}
.buildable-item-list .sortable {
  cursor: pointer;
  position: relative;
  padding-right: 20px;
}
@media (max-width: 500px) {
  .buildable-item-list .sortable {
    padding-right: 2px;
  }
}
@media (min-width: 500px) {
  .buildable-item-list .unsorted::after {
    content: "\f0dc";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-weight: 100;
    position: absolute;
    right: 5px;
  }
  .buildable-item-list .sorted-asc::after {
    content: "\f0de";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-weight: 100;
    position: absolute;
    right: 5px;
  }
  .buildable-item-list .sorted-desc::after {
    content: "\f0dd";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-weight: 100;
    position: absolute;
    right: 5px;
  }
}
.buildable-item-list thead {
  /*
    :first-child
    {
      border-left: 3px;
    }
    :last-child
    {
      border-right: 3px;
    }
    */
}
.buildable-item-list thead th {
  border: 0px solid transparent;
  border-bottom-width: 3px;
  border-top-width: 3px;
  border-image-source: url("../img/uiBorderHorizontal.png");
  border-image-slice: 10%;
}
.buildable-item-list tbody :first-child::after {
  background-image: none;
}
.buildable-item {
  background: linear-gradient(to bottom, #13334d 0%, #101c1b 50%, #13334d 100%);
  color: #eeeeee;
  cursor: pointer;
  position: relative;
}
.buildable-item:hover {
  background: linear-gradient(to bottom, #1b486e 0%, #1f3634 50%, #1b486e 100%);
}
.buildable-item:active {
  background: linear-gradient(to bottom, #173d5e 0%, #172928 50%, #173d5e 100%);
}
.buildable-item:disabled,
.buildable-item.disabled {
  cursor: default;
  color: #bbbbbb;
  background: linear-gradient(to bottom, #07131c 0%, #000000 50%, #07131c 100%);
}
.buildable-item td {
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 70px;
}
.buildable-item .buildCost {
  text-align: right;
  color: #ffeb00;
}
.buildable-item .buildCost::after {
  content: "\f111";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-left: 0.25em;
  color: #f3c620;
}
.buildable-item::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: url("../img/listSeparator.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 2px;
}
.buildable-item:hover {
  background-color: grey;
}
.item-equip {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.item-equip .unit-list {
  border: 1px solid blue;
}
.item-equip .unit-list .selected {
  background-color: yellow;
}
.item-equip-left {
  display: flex;
  flex-flow: column;
  flex: 1;
  border: 1px solid black;
}
.item-equip-left .item-list {
  display: flex;
  flex: 3;
}
.item-equip-left .item-list .sort-icon {
  font-weight: 100;
  position: absolute;
  right: 5px;
}
.item-equip-left .item-list .sortable {
  cursor: pointer;
  position: relative;
  padding-right: 20px;
}
@media (max-width: 700px) {
  .item-equip-left .item-list .sortable {
    padding-right: 2px;
  }
}
@media (min-width: 700px) {
  .item-equip-left .item-list .unsorted::after {
    content: "\f0dc";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-weight: 100;
    position: absolute;
    right: 5px;
  }
  .item-equip-left .item-list .sorted-asc::after {
    content: "\f0de";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-weight: 100;
    position: absolute;
    right: 5px;
  }
  .item-equip-left .item-list .sorted-desc::after {
    content: "\f0dd";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-weight: 100;
    position: absolute;
    right: 5px;
  }
}
.menu-unit-info {
  border: 1px solid red;
}
.menu-unit-info-items-wrapper {
  display: flex;
  flex-flow: row;
  border: 1px solid blue;
}
.unit-item-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 5px;
}
.unit-item-wrapper > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.invalid-drop-target::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
  background-color: rgba(0, 0, 0, 0.5);
}
