@import (once, reference) "modules/defaultui/assets/css/main.less";


.titan-assembling-overview
{
  display: flex;
  flex-flow: row;
  --spacegame-window-min-width: 620px;
  --spacegame-window-min-height: 250px;
}
.titan-chassis-list
{
  flex: 0 1 auto;
  .hover-only-fancy-table-style-without-splitters(0, 0);
  border: 1px solid @ui-border-color1;
}
.titan-chassis-list-item
{
  &.selected
  {
    .focused-button-style;
  }
}
.titan-assembling-info
{
  flex: 1 1 auto;
  border: 1px solid @ui-border-color1;
  border-left: 0;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content 1fr max-content;
  padding: 2px;
}
.titan-assembling-info-protype-details
{
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.titan-prototype-name
{
  width: 100%;
  border: 0;
  padding: 0;
  color: @text-color;
  background-color: @bg-color;
  text-align: center;
  .prevent-text-overflow;
}
.titan-chassis-abilities
{
  overflow: auto;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column: 1;
}
.titan-assembly-components
{
  grid-column: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}
.titan-component-selection-positioner
{
  position: fixed;
  z-index: 201;
}
.titan-component-selection
{
  .full-border(2px);
  background-color: @bg-color;
}
.titan-component-selection-item
{
  position: relative;
  width: 32px;
  height: 32px;
  border: 1px solid @ui-border-color2;
  cursor: pointer;
}
.titan-chassis-stats
{
  grid-column: 2;
  grid-row: 2;
}
.titan-assembling-info-actions
{
  grid-column: 2;
  grid-row: -1;
  display: flex;
  justify-content: space-around;
}
.titan-assembling-info-action
{
  .button-style;
}
