@import (once, reference) "modules/defaultui/assets/css/main.less";


.titan-manufacturing-overview-action
{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titan-manufacturing-overview-action-button
{
  .button-style();

  .resource-cost
  {
    display: flex;
    justify-content: center;
  }
}
